<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="($isHandset | async) ? 'dialog' : 'navigation'"
    [mode]="($isHandset | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()"
        >Kanban board</a
      >
      <a mat-list-item routerLink="/custmers" (click)="drawer.close()"
        >SSR Demo</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="$isHandset | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">Kanban board</span>
      <span class="fill-space"></span>
      <div *ngIf="!($isHandset | async)">
        <a class="bar-link" mat-button routerLink="/kanban">Kanban</a>
        <a class="bar-link" mat-button routerLink="/custmers">SSR Demo</a>

        <a class="bar-link" mat-button routerLink="/login">Login</a>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          href="https://github.com/wojciechmarek"
          target="_blank"
        >
          <i>😇</i>
          <span>Author's Github</span>
        </a>
        <a
          mat-menu-item
          href="https://github.com/wojciechmarek/kanban-board"
          target="_blank"
        >
          <i>😻</i>
          <span>Project's repo</span>
        </a>
        <a mat-menu-item href="https://giphy.com/search/cat" target="_blank">
          <i>😛</i>
          <span>See some cat memes</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
