button {
  img {
    width: 1.25em;
  }
}

:host {
  text-align: center;
}

.logout {
  padding-top: 5em;
}

.google-sing-in {
  display: flex;
  align-items: center;

  span {
    margin-top: 0.25em;
    margin-left: 1em;
    font-weight: bolder;
  }
}
