main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.google-sing-in {
  display: flex;
  align-items: center;

  span {
    margin-top: 0.25em;
    margin-left: 1em;
    font-weight: bolder;
  }
}
