<main>
  <form class="container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="age">Last Name</label>
      <app-stepper
        class="form-control"
        id="age"
        formControlName="age"
      />
    </div>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>

  <p>{{ profileForm.value | json }}</p>
  <p>is form valid: {{ profileForm.valid }}</p>
  <p>errors: {{ profileForm.errors | json }}</p>
</main>
