main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  width: 30%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

app-stepper.ng-invalid {
  border: 1px solid red;
}
